
<a  type="button" data-bs-toggle="modal" data-bs-target="#myModal">
  <div class="card">
    <!-- <div class="card-header">
          Продукты для салата
      </div> -->
    <div class="card-body">
      <h5 class="card-title">Продукты для салата</h5>
      <p class="card-text">Мазик, сасисоны, помидорки🤡</p>
    </div>
    <div class="card-footer text-muted clearfix">
      <span>2 дня назад</span>
      <button
        class="btn btn-light float-end"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-star text-warning"></i>
            <span> В избранное</span></a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-trash text-danger"></i>
            <span> Удалить</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</a>

<div class="modal fade" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
