<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 mb-3">
      <div
        class="btn-group w-100 mb-3"
        role="group"
        aria-label="Basic outlined example"
      >
        <button type="button" class="btn btn-outline-primary fs-3" (click)="diaryPageService.toLastDay()">
          <i class="bi bi-arrow-left"></i>
        </button>

        <button type="button" class="btn btn-outline-primary fs-3" (click)="toCurrentDay()">
          <i class="bi bi-calendar2-day"></i>
        </button>
        <button type="button" class="btn btn-outline-primary fs-3" (click)="diaryPageService.toNextDay()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
      <app-day-card [day]="diaryPageService.currentDay"></app-day-card>
    </div>
  </div>
</div>
