<!-- <ng-template #cardViewerModal let-modal> -->
<!-- <div class="modal-header"> -->
<!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
<!-- </div> -->
<form class="modal-body" form [formGroup]="notesPageService.cardEitorForm">
  <div class="input-group input-group-lg border-0">
    <!-- <span class="input-group-text" id="inputGroup-sizing-sm">Small</span> -->
    <input
      class="form-control border-0 border-bottom rounded-0 shadow-none fw-bold"
      type="text"
      aria-label="Sizing example input"
      placeholder="Заголовок..."
      aria-describedby="inputGroup-sizing-sm"
      formControlName="header"
    />
  </div>
  <div class="">
    <app-card-editor></app-card-editor>
  </div>
  <div class="modal-footer border-0 justify-content-between">
    <div class="btn-group">
      <button
        class="color-label2 btn btn-outline-success"
        type="button"
        disabled
        [style]="'background: '+ getColor().value"
      ></button>
      <div
        class="color-label3 btn-group"
        ngbDropdown
        role="group"
        aria-label="Button group with nested dropdown"
      >
        <button
          class="color-label btn btn-outline-primary"
          type="button"
          ngbDropdownToggle
        ></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem *ngFor="let color of notesPageService.colors" (click)="setColor(color)">
            <i class="bi bi-circle-fill fs-5" [style]='"color: " + color.value'></i>
             {{color.name}}
          </button>
        </div>
      </div>
    </div>

    <div>
      <button
        type="button"
        class="btn"
        (click)="activeModal.dismiss('Cross click')"
      >
        Отмена
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="activeModal.close(getActiveType())"
        [disabled]="notesPageService.cardEitorForm.invalid"
      >
        {{ getActiveTypeButtonName()}}
      </button>
    </div>
  </div>
  <!-- </ng-template> -->
</form>
