@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// @include media-breakpoint-down(sm) {
//   .note-card {
//     display: flex;
//     justify-content: center;
//     min-width: 320px;
//   }
// }

.btn-add-note {
  font-size: 2em;
}

.grid-item{
  width: calc(100% - 10px);

  margin-bottom: 10px;
}
.grid-sizer {
  width: calc(100% - 10px);
}

@include media-breakpoint-up(sm) {
  .grid-item,
  .grid-sizer {
    width: calc(50% - 10px);
  }
}
@include media-breakpoint-up(md) {
  .grid-item,
  .grid-sizer {
    width: calc(50% - 10px);
  }
}
@include media-breakpoint-up(lg) {
  .grid-item,
  .grid-sizer {
    width: calc(25% - 10px);
  }
}
@include media-breakpoint-up(xl) {
  .grid-item,
  .grid-sizer {
    width: calc(25% - 10px);
  }
}
@include media-breakpoint-up(xxl) {
  .grid-item,
  .grid-sizer {
    width: calc(25% - 10px);
  }
}

.note-card {
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
